<tr>
    <td style="border-left: none;" class="{row_class}"><a href="/filter/?download={ID}" title="Download">{FILE_NAME}</a></td>
    <td class="{row_class}">{FILE_DATE}</td>
    <td class="{row_class}">Uploaded with: {RAW_NUM}<br>Duplicated: {BUPLIC_NUM}<br>Added: {ADDED_NUM}<br>Empty: {ERROR_NUM}</td>
    <td align="center" class="{row_class}"><a href="/filter/?download={ID}" title="Download">Download</a> | <a href="/filter/?delete={ID}" title="Delete" onclick="return deleteItem('{FILE_NAME}')">Delete</a></td>
</tr>