@CHARSET "UTF-8";

body {
    font-family : Arial;
    font-size : 12pt; 
    font-weight : normal; 
    color: #000000;
    background-color: #fff; 
    margin-left: 100px;
    margin-right: 100px;
}

form {
    padding: 10px 0 0 0;
}

input {
    margin: 10px 0 10px 0;
}

textarea {
    width: 180px;
}

p {
    margin: 2px 0 2px 0;
    padding: 5px;
}

.comment {
    width: 600px;
    padding: 10px 0 0 0;
}

.scroll_box {
    width: 90%;
    height: 400px;
    overflow: auto;
    border: none;
    margin: 0 auto 50px auto;
    padding: 10px;
}

.scroll_box table {
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

.scroll_box th {
    border-bottom: 1px solid;
    border-left: 1px solid;
}

.scroll_box td {
    border-bottom: 1px solid;
    border-left: 1px solid;
}

.odd {
    background-color: #EBEBEB;
}

.even {
    
}

.green {
    color: green;
}

.red {
    color: red;
}

#div_chart {
    width: 100%;
    margin: 40px auto 40px auto;
}

#hlCountdown { 
    width: 240px; 
    height: 45px; 
}